@keyframes ldio-cn84omks1i9 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-cn84omks1i9 div {
  position: absolute;
  animation: ldio-cn84omks1i9 1s linear infinite;
  width: 173.35999999999999px;
  height: 173.35999999999999px;
  top: 11.82px;
  left: 11.82px;
  border-radius: 50%;
  box-shadow: 0 3.152px 0 0 #a854f7;
  transform-origin: 86.67999999999999px 88.256px;
}
.loadingio-spinner-eclipse-emtyt3co0ac {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
}
.ldio-cn84omks1i9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cn84omks1i9 div {
  box-sizing: content-box;
}
